<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walidator Dostępności by Patyk "Undero" Loter</title>
    <link rel="stylesheet" href="../style/bulma.min.css">
    <link rel="stylesheet" href="../style/formSite.css">
</head>
<body>
    <div id="alert" class="notification is-danger is-invisible">Nieprawidłowy URL. Proszę podać poprawny adres strony!</div>
    <h1 class="title has-text-white">Walidator dostepności stron internetowych</h1>
    <form id="form_url" class="form">
        <div class="field">
            <label class="label has-text-white" for="url">Podaj adres strony</label>
            <div class="control">
                <input class="input" type="text" name="url" id="url" value="https://www.bytom.com.pl/" placeholder="https://google.pl/">
            </div>
        </div>
        <div class="field">
            <p class="label has-text-white">Jakie urządzenie chcesz testować?</p>
            <div class="control">
                <label class="label has-text-white"><input class="mr-10" name="device" value="desktop" type="radio" checked>Desktop(1270x720)</label>
                <label class="label has-text-white"><input class="mr-10" name="device" value="tablet" type="radio">Tablet(768x1024)</label>
                <label class="label has-text-white"><input class="mr-10" name="device" value="mobile" type="radio">Mobile(375x812)</label>
            </div>
        </div>
        
        <input class="button is-success" type="submit" value="Analizuj">
    </form>
    <footer class="footer">Ogólnie o dostępności</footer>
    <script src="../script/baseForm.js"></script>
</body>
</html>